body{
    background-color: #fff3ed;
    background-image: url('../../img/back_body.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
    padding: 0 5%;
}
a{
    text-decoration: none;
}
.container{
    background-color: white;
    padding: 0 5%;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
}